<div>
  <ul class="list">
    <div class="leftnav">
      <li class="logo">Need It !</li>
    </div>
    <form id="form">
      <input type="search" placeholder="Search" />
      <img class="searchicon" src="../../assets/img/search-2-24.png" />
    </form>
    <div class="rightnav">
      <li>
        Place a Need
        <img class="navicons" src="../../assets/img/product-24.png" />
      </li>
      <li>
        Connect Wallet
        <img class="navicons" src="../../assets/img/wallet-3-24.png" />
      </li>
      <li>
        My Account
        <img class="navicons" src="../../assets/img/user-4-24.png" />
      </li>
    </div>
  </ul>
  <hr style="text-align: left; margin-left: 0" />
</div>
