<div class="container">

  <h1>Register</h1>


  <input class="reg" type="text" placeholder="First Name" />
  <input class="reg" type="text" placeholder="Last Name" />
  <input class="reg" type="email" placeholder="Email@xyz.com" />
  <input class="reg" type="password" placeholder="password" />
  <input class="reg" type="password" placeholder="confirm password" />
  <div class="login">
    <label>Already Have an Account?</label>
    <a routerLink='/login'>Login</a>
    <!-- todo make roueter -->
  </div>
  <button>Sign Up</button>
</div>
